<main ng-show="currentWindow == 'hangar'">
    <div class="row">
        <div class="col-md-3 hangarLeftWindow">
            <div class="row hangarRobotWindow">
                Window for robot image
            </div>
            <div class="row hangarExperienceWindow">
                Window for experience and level info
            </div>
        </div>
        <div class="col-md-7">
            <div class="row hangarImplantSlotsWindow">
                window for implant slots                        
            </div>
            <div class="row hangarInventoryWindow">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Implants</span></a></li>
                    <li><a href="#">Skills</span></a></li>
                    <li><a href="#">Attributes</a></li>
                </ul>
            </div> 
            <div class="row hangarSkillsWindow">
                Window for skill slots
            </div>
        </div>
        <div class="col-md-1 hangarInformationColumn">
            <div class="row">
                Coin information
            </div>
        </div>
    </div>
</main>
