<section class="loginBox" ng-show="show == 'register'">
    <fieldset>
        <legend>Personal data</legend>
        <label>Name *</label>
        <input type="text" name="nameBox" class="form-control"/>
        <label>Surname1 *</label>
        <input type="text" name="surname1Box" class="form-control"/>
        <label>Surname2</label>
        <input type="text" name="surname2Box" class="form-control"/>
        <label>Birthdate *</label>
        <input type="text" name="birthDateBox" calendar ng-model="date" class="form-control"/>
        <label>Email *</label>
        <input type="text" name="birthDateBox" calendar ng-model="date" class="form-control"/>
        <label>Country</label>
        <select class="form-control" polla="esto debe ir con un ng-options mas una carga inicial de paises de la base de datos.">
            <option>none</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Account data</legend>  
        <label>Select user name*</label>
        <input name="userNameBox" class="form-control" type="text">
        <label>Select a password</label>
        <input type="password" class="form-control" name="passwordBox"/>
        <label>Rewrite a password</label>
        <input type="password" class="form-control" name="rePasswordBox"/>
    </fieldset>
    <hr/>
    <button type="submit" name="registerButton" class="form-control">Register</button>
    <button name="backButton" class="form-control btn-danger" ng-click="show = 'login'">Back</button>
</section>
