<main ng-show="currentWindow == 'shop'">
    <div class="row shopInfoWindow">
        <h2 class="pull-right">Coin information</h2>
    </div>
    <div class="row">
        <div class="col-md-5 shopShopWindow">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Implants</span></a></li>
                <li><a href="#">Skills</span></a></li>
            </ul>
        </div>
        <div class="col-md-5 shopInventoryWindow">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Implants</span></a></li>
                <li><a href="#">Skills</span></a></li>
            </ul>
        </div>
    </div>
</main >
